<!--
  Generated template for the ProfileSearchResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>Results</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="user; else elseBlock">
        <search-results [user]="user"></search-results>
        <h3>Repositories</h3>
        <repositories *ngFor="let repository of repositories" [repository]="repository"></repositories>
    </div>
    <ng-template #elseBlock>
            <h1 padding text-center>Ops, no result found!</h1>
            <button ion-button full (click)="goBackToSearchPage()" text-uppercase>go back and Try again!</button>
    </ng-template>
</ion-content>
