<!--
  Generated template for the ProfileSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Profile Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
    <ion-label floating>username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
</ion-item>
    <ion-note>
        <p padding-left>Type GitHub username and press search button to view user information and repositories.</p>
    </ion-note>
    <button ion-button full (click)="getUserInformation()" [disabled]="!username" text-uppercase=""><ion-icon name="search"></ion-icon>&nbsp;Search</button>
</ion-content>
